header {
    background: $header-bg-color;
}

.header-container {
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @extend %global-width;
}

.header-heading {
    align-content: center;
}

h2 {
    margin: 0;
    padding: 0 1.5em 0 0;
    color: $header-font-color;
}

nav {
    align-self: center;
    display: block;
    @media screen and (max-width: 550px) {
        display: none;
    }
    
    a {
        text-decoration: none;
        color: $header-link-color;
        padding: 0 0.5em 0 0.5em;
    }
    a:hover {
        color: $header-link-active-color;
        transition: 0.3s;
    }
    a:active {
        color: $header-link-active-color;
    }
}

.nav-icon {
    width: 40px;
    display: none;
    @media screen and (max-width: 550px) {
        display: block;
    }
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
  transform: scale(0);
}